#
# Copyright IBM Corporation 2021
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

language: java
services:
  - docker

before_install:
  - ./scripts/travis.sh

install:
  - pyenv global 3.8.1
  - pip install --upgrade pip
  - pip install .

script:
  - ./scripts/start-kind.sh

  # Test local container run mode
  - RAYVENS_TEST_MODE=local python ./tests/stream.py
  - RAYVENS_TEST_MODE=local python ./tests/source.py
  - RAYVENS_TEST_MODE=local RAYVENS_TRANSPORT=kafka python ./tests/source.py
  - ray submit ./scripts/cluster.yaml ./tests/stream.py
  - ray submit ./scripts/cluster.yaml ./tests/source.py

  # Test operator mode
  - ray submit ./scripts/cluster.yaml ./tests/source_operator.py
  - RAYVENS_TEST_MODE=local python ./tests/sink.py
  - ray submit ./scripts/cluster.yaml ./tests/sink.py
  - RAYVENS_TEST_MODE=local python ./tests/kafka.py
  - ray submit ./scripts/cluster.yaml ./tests/kafka.py
